---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@font-face {
    font-family: "Merriweather-Regular";
    src: url("../assets/fonts/Merriweather-Regular.ttf");
  }

@font-face {
    font-family: "Merriweather-Bold";
    src: url("../assets/fonts/Merriweather-Bold.ttf");
  }

@font-face {
    font-family: "Merriweather-Black";
    src: url("../assets/fonts/Merriweather-Black.ttf");
  }

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../assets/fonts/Montserrat-Regular.ttf");
  }

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../assets/fonts/Montserrat-Bold.ttf");
  }